<body>
  
                     <!--TABLA-->
  <form action="" method='' enctype='multipart/form-data'>
   <table border="1">
   
                <!--         FILAS           -->
    <tr>
        <th bgcolor="gray">Archivos</th>
        <th bgcolor="cyan">Proceso</th>
        <th bgcolor="green">Cantidad</th>
    </tr>
    
    
    <td>
   <input type="file" name='archivo'>
   <input type="submit" value='ver' name="ver">
    
    </td>
     
      
       
       <td>
                    <!--     PROCESO  -->
                 
    <select name="proceso">
      <option value="Confrontacion de firma registrada vpn">{{procesos[0].nombre_ta}}</option>
      <option value="Reconocimiento VPN">{{procesos[1].nombre_ta}}</option>
      <option value="Reconocimiento con huella VPN">{{procesos[2].nombre_ta}}</option>
      <option value="Reconocimiento de firma y huella VPN">{{procesos[3].nombre_ta}}</option>
      <option value="Reconocimiento de firma , huella y contenido VPN">{{procesos[4].nombre_ta}}</option>
      <option value="Fotocopia de copia Auntentica vpn">{{procesos[5].nombre_ta}}</option>
      <option value="Igual al original VPN">{{procesos[6].nombre_ta}}</option>
      <option value="Presente es igual a otra copia VPN">{{procesos[7].nombre_ta}}</option>
           </select>

  </td>
                        <!-- CANTIDAD-->
                        
      <td><input type="text" placeholder="Numero de copias" name="copias"></td>
      <td><input type="submit"  value="Enviar" ></td>
       </table>
    </form>
   
   <div>
       
   <input type="button" value="logOut" ng-click="logout()" >
   </div>
    
</body>
